<md-toolbar color="primary">
  <span>{{appTitle}}</span>
</md-toolbar>
<div style="padding: 20px;" class="flex-row">
  <md-card style="width: 25%;">
    <md-list>
      <h3 md-subheader>Données</h3>
      <md-list-item [dragula]='"bag-one"'>
        Data 1
        <button md-icon-button (click)="null">
          <md-icon>info</md-icon>
        </button>
      </md-list-item>
      <md-list-item [dragula]='"bag-one"'>
        Data 2
        <button md-icon-button (click)="null">
          <md-icon>info</md-icon>
        </button>
      </md-list-item>
      <md-list-item [dragula]='"bag-one"'>
        Data 3
        <button md-icon-button (click)="null">
          <md-icon>info</md-icon>
        </button>
      </md-list-item>
    </md-list>
  </md-card>
  <md-card class="flex">
    <md-list>
      <h3 md-subheader>Données</h3>
      <md-list-item [dragula]='"bag-one"'>
        Data 1
        <button md-icon-button (click)="null">
          <md-icon>info</md-icon>
        </button>
      </md-list-item>
      <md-list-item [dragula]='"bag-one"'>
        Data 2
        <button md-icon-button (click)="null">
          <md-icon>info</md-icon>
        </button>
      </md-list-item>
      <md-list-item [dragula]='"bag-one"'>
        Data 3
        <button md-icon-button (click)="null">
          <md-icon>info</md-icon>
        </button>
      </md-list-item>
    </md-list>
  </md-card>
</div>